doctype html
html(lang="ja")
  meta(charset="utf-8")
  title Panda Noir
  meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
  link(rel="stylesheet" href="https://unpkg.com/hack/dist/hack.css")
  link(rel="stylesheet" href="./style.css")
  script(src="https://kit.fontawesome.com/8ce2e9278d.js" crossorigin="anonymous")


  body(class="hack")
    img#background(src="https://pandanoir.net/image/logo/white-circle/logo.png" width="400")
    h1 Profile
    div
      h2 Info
      ul
        -
          const profile = [
            "name: Naoto Ikuno",
            "country: Japan",
            "age: 23",
            "editor: NeoVim, VSCode",
            "favorite language: JavaScript, TypeScript",
            "hobby: Aikido(合気道), Competitive programming"
          ];
        each text in profile
          li: span.lined #{text}

    div
      h2 About
      p(style="display: inline" class="lined")
        | 企業でwebフロントエンドのエンジニアとして働いています。
        | <a href="https://github.com/pandanoir/unitaryjs">UnitaryJS</a>や<a href="https://github.com/pandanoir/list-in-js">List in JS</a>、
        | <a href="https://pandanoir.net/works/typing/">Typing-beta(タイピングソフト)</a>などを作りました。他に作ったものは<a href="https://pandanoir.net">ホームページ</a>においてあります。

    div
      h2 SNS
      ul
        -
          const links = [
            ["https://twitter.com/le_panda_noir", '<i class="fab fa-twitter"></i> Twitter'],
            ["https://github.com/pandanoir", '<i class="fab fa-github"></i> GitHub'],
            ["https://pandanoir.net", '<i class="fab fa-js-square"></i> Homepage'],
            ["https://www.pandanoir.info", '<i class="fas fa-blog"></i> Blog'],
            ["https://kyopro.pandanoir.net", '<i class="fas fa-blog"></i> Competitive programming blog'],
          ];
        each link in links
          li: a(href=link[0] class="lined") !{link[1]}

    div
      h2 SKILLS
      dl(class="skill-list")
        -
          const lv = n => `${'<i class="fas fa-star"></i>'.repeat(n)}`;
          const dl = [
            ["JavaScript", lv(5)],
            ["CSS", lv(4)],
            ["HTML", lv(4)],
            ["Ruby, PHP, Python", lv(3)],
            ["OCaml", "ｵｷｬﾑﾙ"],
            ["Haskell", lv(3)],
            ["C++", `${lv(2)}(競プロでゴリゴリ使える程度)`],
            ["Sed", `${lv(3)}(競プロで使える程度)`],
            ["AWK", `${lv(3)}(競プロ(略))`]];
        each d in dl
          dt: span.lined !{d[0]}
          dd: span.lined !{d[1]}
      p
        | (これらはあくまで主観です。僕が書いたQiitaやブログの記事などが客観的な判断材料になると思います)
